body {
	background: White;
	color: Black;
	max-width: 180mm;
	margin: auto;
}
.maintitle {
	text-align: center;
	background-color: PowderBlue;
}
h1.toc {
	background-color: skyblue;
	font-family: "Courier New", Curier, monospace;
	/* font-size: 24px; */
}

h2.subtoc {
	background-color: turquoise;
	font-family: "Courier New", Curier, monospace;
	/* font-size: 18px; */
}

p {
	/* font-size: 12px; */
	text-align: justify;
}

table {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: LightGreen;
  border-bottom-style: solid;
  border-width: 1px;
  padding: 1px 5px;
}

td {
  padding: 1px 5px;
}

caption {
  caption-side: bottom;
}

tr:hover {
  background-color: LightGrey;
}

div {
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.fter {
  position: sticky;
  bottom: 0;
  background-color: LightGrey;
}
.topnav {
  overflow: hidden;
  background-color: DarkBlue;
}

.topnav a {
  float: left;
  color: WhiteSmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: LightGrey;
  color: Black;
}

.topnav a.active {
  background-color: DarkCyan;
  color: White;
}

.pstiky {
	position: sticky;
	top: 0;
}